body {background-color: black}
margin: 0px
}

    nav a{
        margin-top: 5px;
        padding: 2px;
        font-size: 20px;
        text-decoration: none;
        color: darkgreen;
        
    }
h1  {
    color: darkred;
}
 .yas{
    font-style: italic;
 }
 .img1{
    width: 50%;

 .centro{
    text-align:center ;
}