body {background-color: rgb(5, 46, 0)}
margin: 0px
}

    nav a{
        margin-top: 5px;
        padding: 2px;
        font-size: 20px;
        text-decoration: none;
        color: #8a0b02;

    }
h1  {
    color: #e7aa00;
}
 .yas{
    font-style: italic;
 }
 .img1{
    width: 50%;

 .centro{
    text-align:center ;
}